:root {--color-logo:#4D5AE5;
    --color-backa:#2E2F42;}

body {
    font-family: "Roboto",sans-serif "Raleway",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
  }
  h1, h2, h3{
    font-family:"Roboto", sans-serif;
  }
  ul{

	list-style-type: none;
  }
 

  .logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-logo);
    text-decoration: none;
      }
  .logo-primary{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-backa);
    text-decoration: none;
  }
  .link{
    text-decoration: none;
  }

  .main-links{
    color: var(--color-backa);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .main-links:hover{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#404BBF
  }
  .contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
  }
  .contact:hover{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #404BBF;
  }

  .main-section{
    width: 1440px;
    height: 600px;
    background: var(--color-backa);
  }
  .main-section_text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 188px 472px 0px 472px;
}
.main-section_button{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 169px;
    height: 56px;
    background: var(--color-logo);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    margin: 48px 635px 188px 636px;
    color: #FFFFFF;
}
.main-section_button:hover {
    background: #404BBF;
    color: #FFFFFF;
}
.main-section-heading{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-backa);   
}
.main-section-heading-paraf{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.team-heading{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-backa);
}
.team-paraf{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    background: var(--color-backa);
    Width:1440px;
    Height:312px;
}
.footer-paraf{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.footer-logo-primary{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-backa);
}
.heading-button{
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--color-logo);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.heading-button:hover {
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;}